@font-face {
    font-family: "bc_b";
    src: url(/public/fonts/BCcardB.ttf);
}

@font-face {
    font-family: "bc_l";
    src: url(/public/fonts/BCcardL.ttf);
}

.main_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.title_container{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 4rem;
}

.back_btn{
    height: 2.1rem;
    width: auto;
    position: absolute;
    left: 0.5rem;
    transform: rotate(180deg);
}

.title_txt{
    font-family: "bc_b";
    font-size: 1.5rem;
}

.alarm_list_container{
    background: #FFF2CB;
    margin-top: 3%;
    width: 22.4rem;
    height: 49.5rem;
    border-radius: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}


.alarm_container{
    width: 22rem;
    height: 6rem;
    margin: 0.7rem;
    position: relative;
    border-radius: 20px;
    align-items: center;
    display: flex;
    cursor: pointer;
    background: #FFFEFC;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.select_alarm_container{
    width: 22rem;
    height: 6rem;
    margin: 0.7rem;
    position: relative;
    border-radius: 20px;
    align-items: center;
    display: flex;
    cursor: pointer;
    filter: brightness(0.8);
    background: #FFFEFC;
    box-shadow: 0.01rem 0.01rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.alarm_img_container{
    width: 3.5rem;
    height: auto;
    border-radius: 50px;
    margin-left: 2.5%;
    cursor: pointer;
    transition: 0.5s all;
}

.alarm_txt{
    width: 16.2rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: "bc_b";
    margin-left: 2.5%;
    text-align: left;
    font-size: 1.1rem;
}

.alarm_container:hover {
    filter: brightness(0.8);
}

.modal_background{
    width: 100%;
    height: 100%;
    max-width: 412px;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alarm_modal_container{
    width: 22rem;
    height: 25rem;
    z-index: 11;
    border-radius: 30px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background: #FFDD71;
}

.alarm_modal_title{
    font-family: "bc_b";
    font-size: 1.8rem;
    margin-top: 6%;
}

.alarm_modal_x{
    position: absolute;
    width: auto;
    top: 4%;
    right: 5%;
    height: 2rem;
}

.alarm_content{
    width: 20rem;
    height: 19rem;
    border-radius: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -4%;
    background: #FFFBF3;
}

.alarm_img{
    height: 5rem;
    width: auto;
    margin-top: 5%;
}

.alarm_detail{
    width: 18rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "bc_b";
    text-align: center;
    font-size: 1.7rem;
}